<style>
    a.link {
        background-color: #008CBA;
        color: white;

        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 15px 40px;
        border-radius: 8px;
    }

    table {
        width: 20%;
        table-layout: auto;
        margin-left: auto;
        margin-right: auto;
    }

    tr,
    td {
        padding: 15px;
        text-align: left;
        text-align: center;
    }
</style>

<h2 align="center"><b>Login As</b></h2>
<table>
    
    <tr>
        <td>
            <a class="link" routerLink="tLogin">Teacher</a>
        </td>
        <td>
            <a class="link" routerLink="studentLogin">Student</a>
        </td>
    </tr>

</table>